.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.img {
    width: 30%;
}
.items {
    display: flex;
    justify-content: space-around;
}
.container {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
}
.button {
    height: 2.8rem;
    border: 0px;
    margin-top: 2rem;
    background-color: burlywood;
    color: darkgreen;
    width: 15rem;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button:hover {
    color: aliceblue;
}
a {
    color: aliceblue;
    text-decoration: none;
}

